.fu_thumbnail{
	background-color: lightblue;
	margin-top: 20%;
	padding: 20%;
}

.fuSquares{ 
    /*margin-right: 10%; Nur kein margin! zerreist bootsfaces column layout*/
 	border: 1px solid #D3D3D3;
    
}

.fuSquareButton{
	margin: 10%;
	padding: 20%;
}

.fu_unterlagen_beschreibung{
	

}